<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="UTF-8" />
</head>
<body>
<div class="header">
  <h1>Graph</h1>
</div>
<img th:src="'data:image/png;base64,' + ${chartImage}" />
</body>
<a href="/">Back to Home</a>
</html>
<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Chart</title>-->
<!--</head>-->
<!--<body>-->
<!--<img th:src="'data:image/png;base64,' + ${chartImage}" />-->
<!--</body>-->
<!--</html>-->