<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <div class="header">
      <h1>Mini Survey Monkey</h1>
    </div>
    <meta charset="UTF-8" />
    </head>
<body>


<ul>
  <form class="my-5">

  <a  th:href="@{/createSurvey}">Create new Survey</a></li>
  <!--<li><a th:href="@{/fillSurvey}">Complete Survey</a></li>-->
  <a  th:href="@{/listSurveys}">List of Surveys</a></li>

    <a th:href="@{/listClosedSurveys}">Closed Surveys</a></li>
  </form>
</ul>
</body>

</html>