<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta charset="UTF-8">
  <title>Question List</title>
</head>
<body>
<div class="header">
<h1>Question Added!</h1>
</div>
<form  th:action="@{/addQuestions}" method="post" class="my-5">
<table>
  <tr>
    <th>Question Text</th>
    <th>Question Type</th>
    <th>Options / Min-Max</th>
  </tr>
  <tr th:each="q : ${questions}">
    <td th:text="${q.questionText}"></td>
    <td th:text="${q.getQuestionType()}"></td>
    <td th:switch="${q.getQuestionType()}">
      <div th:case="'MULTIPLE_CHOICE'">
        <ul>
          <li th:each="opt : ${q.options}" th:text="${opt}"></li>
        </ul>
      </div>
      <div th:case="'NUMERICAL_RANGE'" th:text="${q.min} + ' - ' + ${q.max}"></div>
    </td>
  </tr>
</table>


  <input type="hidden" th:name="surveyID" th:value="${surveyID}"/>
  <button type="submit" class="btn btn-primary">Add More Questions to Survey</button>
</form>
<a href="/">Back to Home</a>
</body>
</html>