<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sign Up </title>
  <meta charset="UTF-8" />
</head>
<body>
<h1>Sign Up</h1>

<form method="post" th:action="@{/signup}">

  <div>
    <label>Username:</label>
    <input type="text" name="username" required />
  </div>

  <div>
    <label>Email:</label>
    <input type="email" name="email" required />
  </div>

  <div>
    <label>Password:</label>
    <input type="password" name="password" required />
  </div>

  <div>
    <label>Confirm Password:</label>
    <input type="password" name="confirmPassword" required />
  </div>

  <button type="submit">Submit</button>

</form>

</body>
</html>
